<html xmlns:wicket>
<wicket:panel>
    <div wicket:id="refreshable" class="animated fadeIn">
        <div class="text-center">
            <span>Your secret key for google authenticator: </span><b>
            <small wicket:id="key"></small>
            <input type="hidden" wicket:id="key-input" name="j_key">
        </b>
        </div>
        <div class="img mt-4 text-center">
            <img wicket:id="qr" src=""/>
        </div>
    </div>
    <div class="py-4 text-center">
        <small class="text-muted">
            Learn more about <b><a href="https://support.google.com/accounts/answer/1066447" target="_blank">Google
            authenticator</a></b>
        </small>
    </div>
</wicket:panel>
</html>
