<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		
    <sec:http auto-config="false" entry-point-ref="authenticationProcessingFilterEntryPoint">
        <sec:intercept-url pattern="/favicon.ico" filters="none"/>
        <sec:intercept-url pattern="/css*"   filters="none"/>
        <sec:intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        
        <sec:intercept-url pattern="/adminpage1.html" access="ROLE_ADMINPAGE1"/>
        <sec:intercept-url pattern="/adminpage2.html" access="ROLE_ADMINPAGE2"/>
        <sec:intercept-url pattern="/userpage1.html" access="ROLE_USERPAGE1"/>
        <sec:intercept-url pattern="/userpage2.html" access="ROLE_USERPAGE2"/>
        <sec:intercept-url pattern="/**" access="ROLE_ADMINPAGE1,ROLE_ADMINPAGE2,ROLE_USERPAGE1,ROLE_USERPAGE2"/>
        
        <sec:logout />
        <sec:anonymous/>

    </sec:http>
    
    <sec:authentication-manager alias="authenticationManager"/>
    
    <bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.ui.webapp.AuthenticationProcessingFilterEntryPoint">
    	<property name="loginFormUrl" value="/login.jsp"/>
    </bean>
    
    <bean id="twoStepAuthenticationProcessingFilter" class="com.payneteasy.superfly.security.TwoStepAuthenticationProcessingFilter">
    	<sec:custom-filter position="AUTHENTICATION_PROCESSING_FILTER"/>
    	<property name="authenticationManager" ref="authenticationManager"/>
    	<property name="ssoService" ref="ssoService"/>
    	<property name="defaultTargetUrl" value="/"/>
    	<property name="loginFormStepOneUrl" value="/login.jsp"/>
    	<property name="loginFormStepTwoUrl" value="/login-step2.jsp"/>
    	<property name="subsystemIdentifier" value="test1"/>
    </bean>
    
<!--
    <bean id="ssoService" class="com.payneteasy.superfly.demo.mock.SSOServiceMock"/>
-->

	<bean id="ssoService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceInterface" value="com.payneteasy.superfly.api.SSOService"/>
		<property name="serviceUrl">
			<bean class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
				<property name="initParamName" value="superfly-sso-service-url"/>
			</bean>
		</property>
	</bean>
    
    <bean id="superflyAuthenticationProvider" class="com.payneteasy.superfly.security.SuperflyAuthenticationProvider">
    	<sec:custom-authentication-provider/>
    	<property name="transformers">
    		<list>
    			<bean class="com.payneteasy.superfly.security.UppercaseTransformer"/>
    			<bean class="com.payneteasy.superfly.security.PrependingTransformer">
    				<property name="prefix" value="ROLE_"/>
    			</bean>
    		</list>
    	</property>
    </bean>

</beans>
