body {
	font: normal normal normal 100%/normal arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
.cp-bar {
	text-align: left;
	background-color: #E5ECF9;
	/*border-top: 1px solid #3366CC;*/
	margin: 0em;
	padding: 0.5em;
	height: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.superfly-logo{
  font-size: 250%;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  color: #444;
  text-decoration: none;
}
.superfly-info-logo{
   font-size: small;
}
.superfly-header-logo ul{
  margin-left: 2em;
  margin-bottom: 1em;
  list-style-type: none;
}
div.line {
	display: inline;
}

#userinfo ul li {
	display: inline;
}

#userinfo {
	text-align: right;
	font-size: 13pt;
	font-weight: 500;
	border-bottom: 1px solid #aebedc;
	margin-left: 1em;
	margin-right: 1em;
	
}

.p-unit {
	padding-top: 1em;
	padding-left: 1em;
}

.p-content {
	padding-left: 1em;
	text-align: left;
}

.p-nav {
	border-right: 3px solid #E5ECF9;
	font-size: 1em;
	width: 120px;
	width: 120px;
}

.p-nav ul li {
	list-style-type: none;
	line-height: 2em;
}

.p-nav ul li a {
	padding-left: 1em;
}

.p-nav ul li a:hover {
	background: #E5ECF9;
	color: #000000;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

.p-nav li a:link,.p-nav li a:visited {
	text-decoration: none;
	display: block;
}

.p-section,.cp-bar {
	margin-left: 1em;
	margin-right: 1em;
}

.p-nav-selected {
	background-color: #E5ECF9;
	font-weight: bold;
	color: #000000;
}

a:link,a {
	color: #0000CC;
}

p,th,td,li,a,legend {
	font-size: 0.875em;
}

p {
	padding: 0.5em 0;
}

h1 {
	margin: 0.5em 0.25em;
	font-size: 1.4em;
}

h3 {
	margin: 0.5em 0.25em;
	font-size: 1.2em;
}

table {
	border-collapse: collapse;
}

table.form td {
	padding: 0.25em;
}

table.data {
	border: 1px solid #C5D7EF;
	empty-cells: show;
	margin-bottom: 0.5em;
	width: 98.5%
}

table.data thead th {
	background: #C5D7EF none repeat scroll 0 0;
	font-weight: bold;
	vertical-align: bottom;
	text-align: center;
	height: 20px;
}

table.data td {
	
	border: 1px solid #C5D7EF;
	padding: 0.35em 1em 0.25em 0.35em;
}

table.data td a {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.paging-navigator{
    background: #C5D7EF;
    height: 5px;
    rowspan:2;
    border-top: 1px solid black;
}
/*.feedbackPanel li {
	text-align: center;
	color: black;
	list-style: none;
	font-weight: bold;
}*/

.feedbackPanel {	
	color: black;
	background-color: #dee0a6;
	-moz-border-radius: 4px;
	list-style: none;
	font-weight: bold;
	padding-left: 30px;
	margin-right: 20px;
}
button,input[type='button'],input[type='submit'] {
	padding: 0.1em .7em;
}

.dinamicPanel {
	padding: 1em;
	margin-top: 1em;
	border: 3px solid #E5ECF9;
	-moz-border-radius: 8px;
}

ul.release-notes {
	list-style-type: none;
	list-style-position: outside;
	padding-left: 10px;
	font-size: 14px;
	font-size: larger;
}

ul.release-notes li {
	font-weight: bold;
}

ul.release-notes ul {
	line-height: 20px;
	list-style-image: url("../img/li.gif");
	margin-left: 3em;
	font-size: medium;
	list-style-image: url("../img/li.gif");
}

ul.release-notes ul li {
	font-weight: normal;
}

div.release-date {
	position: static;
	color: #3366CC;
}

.filters {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 3px solid #E5ECF9;
	margin-right: 16px;
	height: 30px;
	padding-left: 10px;
	padding-top: 10px;
}

table.data td.checkbox-cell,table.data th.checkbox-cell {
	padding: 0.35em 0.35em 0.25em 0.35em;
	text-align: center;
}

.name {
	font-weight: 600;
	font-size: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
}

.namecopy {
	font-weight: 600;
	font-size: 0.9em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

INPUT {
	order-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
}

table.dataSubRoles {
	border: 1px solid #C5D7EF;
	empty-cells: show;
	margin-bottom: 0.5em;
	width: 50%
}

table.dataSubRoles thead th {
	background: #C5D7EF none repeat scroll 0 0;
	font-weight: bold;
	vertical-align: bottom;
	text-align: center;
}

table.dataSubRoles td {
	margin: 0;
	border: 1px solid #C5D7EF;
	padding: 0.35em 1em 0.25em 0.35em;
}

table.dataSubRoles td a {
	margin-left: 2em;
	margin-right: 2em;
}

.highlight {
	background-color: rgb(238, 249, 249);
}

.table-header-action{
    background-color: #C5D7EF;
    font-weight: bold;
    height: 30px;
    padding-top: 10px;
    width: 400px;
}
.table-header-action-checkbox-cell{
    padding-left: 0.35em;
}
.table-header-action-name{
    padding-left: 30px;
}
.table-header-action-sub-name{
    padding-left: 210px;
}
.table-row-action{
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #C5D7EF;
    width: 400px;
}
.table-row-action:HOVER{
    background-color: rgb(238, 249, 249);
}
.table-row-action-name{
    padding-left: 10px;
    font-size: small;
}
.table-row-action-sub{
    font-size: small;
    float: right;
    margin-right: 30px;
}

.hide {
	display: none;
}

table.dataAction td.checkbox-cell,table.dataAction th.checkbox-cell {
	padding: 0.35em 0.35em 0.25em 0.35em;
	text-align: center;
}

.buttonAction {
	width: 6em;
	padding-bottom: 1em;
}

h4.tableHeading {
	padding-bottom: 1em;
}

div.scroll {
	overflow: -moz-scrollbars-vertical;
	overflow-y: auto; height:340px;
	overflow-x: hidden;
	
}