body {
	font: normal normal normal 100%/normal arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
.cp-bar {
	text-align: left;
	background-color: #E5ECF9;
	/*border-top: 1px solid #3366CC;*/
	margin: 0em;
	padding: 0.5em;
	height: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.superfly-logo{
  font-size: 250%;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  color: #444;
  text-decoration: none;
}
.superfly-info-logo{
   font-size: small;
}
.superfly-header-logo ul{
  margin-left: 2em;
  margin-bottom: 1em;
  list-style-type: none;
}
div.line {
	display: inline;
}

#userinfo ul li {
	display: inline;
}

#userinfo {
	text-align: right;
	font-size: 13pt;
	font-weight: 500;
	border-bottom: 1px solid #aebedc;
	margin-left: 1em;
	margin-right: 1em;
	
}

.p-unit {
	padding-top: 1em;
	padding-left: 1em;
}

.p-content {
	padding-left: 1em;
	text-align: left;
}

.p-nav {
	border-right: 3px solid #E5ECF9;
	font-size: 1em;
	width: 120px;
	width: 120px;
}

.p-nav ul li {
	list-style-type: none;
	line-height: 2em;
}

.p-nav ul li a {
	padding-left: 1em;
}

.p-nav ul li a:hover {
	background: #E5ECF9;
	color: #000000;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

.p-nav li a:link,.p-nav li a:visited {
	text-decoration: none;
	display: block;
}

.p-section,.cp-bar {
	margin-left: 1em;
	margin-right: 1em;
}

.p-nav-selected {
	background-color: #E5ECF9;
	font-weight: bold;
	color: #000000;
}

a:link,a {
	color: #0000CC;
}

p,th,td,li,a,legend {
	font-size: 0.875em;
}

p {
	padding: 0.5em 0;
}

h1 {
	margin: 0.5em 0.25em;
	font-size: 1.4em;
}

h3 {
	margin: 0.5em 0.25em;
	font-size: 1.2em;
}

table {
	border-collapse: collapse;
}

table.form td {
	padding: 0.25em;
}

table.data {
	border: 1px solid #C5D7EF;
	empty-cells: show;
	margin-bottom: 0.5em;
	width: 98.5%
}

table.data thead th {
	background: #C5D7EF none repeat scroll 0 0;
	font-weight: bold;
	vertical-align: bottom;
	text-align: center;
	height: 20px;
}

table.data td {
	border: 1px solid #C5D7EF;
	padding: 0.35em 1em 0.25em 0.35em;
}

table.data td a {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
table.data td.checkbox-cell,table.data th.checkbox-cell {
	padding: 0.35em 0.35em 0.25em 0.35em;
	text-align: center;
}

.paging-navigator{
    background: #C5D7EF;
    height: 5px;
    rowspan:2;
    border-top: 1px solid black;
}

/*.feedbackPanel li {
	text-align: center;
	color: black;
	list-style: none;
	font-weight: bold;
}*/

.feedbackPanel {	
	color: black;
	background-color: #dee0a6;
	-moz-border-radius: 4px;
	list-style: none;
	font-weight: bold;
	padding-left: 30px;
	margin-right: 20px;
}
button,input[type='button'],input[type='submit'] {
	padding: 0.1em .7em;
}

.dinamicPanel {
	padding: 1em;
	margin-top: 1em;
	border: 3px solid #E5ECF9;
	-moz-border-radius: 8px;
}

ul.release-notes {
	list-style-type: none;
	list-style-position: outside;
	padding-left: 10px;
	font-size: 14px;
	font-size: larger;
}

ul.release-notes li {
	font-weight: bold;
}

ul.release-notes ul {
	line-height: 20px;
	list-style-image: url("../img/li.gif");
	margin-left: 3em;
	font-size: medium;
	list-style-image: url("../img/li.gif");
}

ul.release-notes ul li {
	font-weight: normal;
}

div.release-date {
	position: static;
	color: #3366CC;
}

.filters {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 3px solid #E5ECF9;
	margin-right: 16px;
	height: 30px;
	padding-left: 10px;
	padding-top: 10px;
}


.name {
	font-weight: 600;
	font-size: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
}

.namecopy {
	font-weight: 600;
	font-size: 0.9em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

INPUT {
	order-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
}

table.dataSubRoles {
	border: 1px solid #C5D7EF;
	empty-cells: show;
	margin-bottom: 0.5em;
	width: 40%
}

table.dataSubRoles thead th {
	background: #C5D7EF none repeat scroll 0 0;
	font-weight: bold;
	vertical-align: bottom;
	text-align: center;
}

table.dataSubRoles td {
	margin: 0;
	border: 1px solid #C5D7EF;
	padding: 0.35em 1em 0.25em 0.35em;
	width: 200px;
}

table.dataSubRoles td a {
	margin-left: 2em;
}

.highlight {
	background-color: rgb(238, 249, 249);
}

.mapping-hader{
    background-color: #C5D7EF;
    font-weight: bold;
    height: 17px;
    padding-top: 10px;
    width: 300px;
}
.mapping-header-checkbox-cell{
    padding-left: 0.35em;
}
.mapping-header-item-name{
    padding-left: 30px;
}
.mapping-row{
    height: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #C5D7EF;
    width: 300px;
}
.mapping-row:HOVER{
    background-color: rgb(238, 249, 249);
}
.mapping-row-item-name{
    padding-left: 10px;
    font-size: 12px;
}

.mapping-search{
   margin: 0 0 1em 0;
}
.mapping-search-text{
	display: inline-block;
    height: 25px;
    padding: 0 13 0 0px;
    margin: 0;
    border-top:1px solid #d0dddd;
    border-left:1px solid #d0dddd;
    border-bottom:1px solid #d0dddd;
}
.mapping-search-input{
	background: none;
    border: none;
    outline: none;
    height: 25px;
    font-size:12px;
    padding: 0 0 0 5px;
    width:  230px;
}
.mapping-search-button{
   margin: 0 0 0 -3px;
   height:27px;
}
.mapping-search-button:HOVER{
  -moz-box-shadow: 0 0 1px #black;
  -webkit-box-shadow: 0 0 1px #black;
   box-shadow: 0 0 1px #black;
}
.mapping-buttons{
  margin: 1em 1em 10em 1em;
}
.mapping-button{
  height:20px;
  width: 90px;
}
div.mapping-scroll {
	overflow: -moz-scrollbars-vertical;
	overflow-y: auto; height:250px;
	overflow-x: hidden;
	
}

.button{
  height: 22px;
}
.button:HOVER, .mapping-button:HOVER{
 -moz-box-shadow: 0 0 1px #black;
 -webkit-box-shadow: 0 0 1px #black;
  box-shadow: 0 0 1px #black;
}
.hide {
	display: none;
}

table.dataAction td.checkbox-cell,table.dataAction th.checkbox-cell {
	padding: 0.35em 0.35em 0.25em 0.35em;
	text-align: center;
}
div.wicket-aa {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana;
	font-size: 12px;
	background-color: white;
	border-width: 1px;
	border-color: #C5D7EF;
	border-style: solid;
	padding: 2px;
	margin: 1px 0 0 0;
	text-align: left;
}

div.wicket-aa ul {
	list-style: none;
	padding: 2px;
	margin: 0;
}

div.wicket-aa ul li.selected {
	background-color: #C5D7EF;
	padding: 2px;
	margin: 0;
}
.add-role-img{
  width: 10px;
  height:10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/add.png);
}
.remove-role-img{
  width: 10px;
  height:10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/remove.png);
}
.cont-box {
	border:2px solid #d0dddd;
	padding:29px 0 18px 36px;
	margin:0 100px 30px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    position: relative;
}
/*FIELD COMPONENTS*/
.text-field, .text-field-required {
	margin: 10px 0;
	list-style: none;
}

.text-field-required label.field-label-text {
    font-weight: bold;
}
.field-label-text {
    font-size: 14px;
    line-height: 25px;
    width: 160px;
	display: inline-block;
	white-space: nowrap;
}
.field-label-text-area{
    font-size: 14px;
    line-height: 25px;
    width: 160px;
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
}
.field-input-text-area{
    width: 400px;
    height: 150px;
	border: 1px solid gray;
	padding: 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	outline: none;
	transition: border linear .2 s, box-shadow linear .2 s;
	-moz-transition: border linear .2 s, -moz-box-shadow linear .2 s;
	-webkit-transition: border linear .2 s, -webkit-box-shadow linear .2 s;
}
.field-input-text-area:FOCUS{
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .5);
	box-shadow: 0 0 8px rgba(82, 168, 236, .5);
	border-color: rgba(82, 168, 236, 0.75) !important;
}
.field-input-text:focus {
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .5);
	box-shadow: 0 0 8px rgba(82, 168, 236, .5);
	border-color: rgba(82, 168, 236, 0.75) !important;
}

.field-input-text {
	width: 300px;
	border: 1px solid gray;
	padding: 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	outline: none;
	transition: border linear .2 s, box-shadow linear .2 s;
	-moz-transition: border linear .2 s, -moz-box-shadow linear .2 s;
	-webkit-transition: border linear .2 s, -webkit-box-shadow linear .2 s;
}
.field-checkbox-span {
	margin-left: 225px;
	display: inline-block;
	text-align: right;
}
.field-select:focus {
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .5);
	box-shadow: 0 0 8px rgba(82, 168, 236, .5);
	border-color: rgba(82, 168, 236, 0.75) !important;
}

.field-select {
	width: 308px;
	border: 1px solid gray;
	padding: 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	outline: none;
	transition: border linear .2 s, box-shadow linear .2 s;
	-moz-transition: border linear .2 s, -moz-box-shadow linear .2 s;
	-webkit-transition: border linear .2 s, -webkit-box-shadow linear .2 s;
}
.field-value-text {
	display: inline-block;
	white-space: nowrap;
    padding-left: 4px;
    width: 300px;
    font-size: 13px;
}