<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userInfoService" class="com.payneteasy.superfly.web.security.UserInfoServiceAcegi">
    </bean>

    <bean id="policyName" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-policy"/>
    </bean>
    <bean id="forceMfaMethod" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-mfa-method-force"/>
    </bean>
    <bean id="mfaEnabled" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-mfa-enabled"/>
    </bean>
    <bean id="cryptoSalt" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-cryptoSalt"/>
    </bean>
    <bean id="cryptoSecret" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-cryptoSecret"/>
    </bean>
    <bean id="salt" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-salt"/>
    </bean>

    <bean id="maxLoginsFailed" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-max-logins-failed"/>
    </bean>

    <!-- Deprecated -->
    <bean id="hotpMasterKey" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-hotpMasterKey"/>
    </bean>
    <bean id="hotpCodeDigits" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-hotpCodeDigits"/>
    </bean>
    <bean id="hotpTableSize" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-hotpTableSize"/>
    </bean>
    <bean id="hotpLookahead" class="org.springframework.web.context.support.ServletContextParameterFactoryBean">
        <property name="initParamName" value="superfly-hotpLookahead"/>
    </bean>
</beans>
