<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-5.5.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <sec:http security="none" pattern="/favicon.ico"/>
    <sec:http security="none" pattern="/css/**"/>
    <sec:http security="none" pattern="/login*"/>
    <sec:http security="none" pattern="/sso/**"/>
    <sec:http security="none" pattern="/management/version.txt"/>

    <sec:http
        auto-config="false"
        entry-point-ref="authenticationEntryPoint"
        access-decision-manager-ref="accessDecisionManager"
    >

        <sec:custom-filter ref="x509AuthenticationFilter" position="X509_FILTER"/>
        <sec:custom-filter ref="passwordAuthenticationProcessingFilter" before="CAS_FILTER"/>
        <sec:custom-filter ref="initOtpAuthenticationProcessingFilter" after="BASIC_AUTH_FILTER"/>
        <sec:custom-filter ref="otpAuthenticationProcessingFilter" before="FORM_LOGIN_FILTER"/>

        <sec:custom-filter ref="insufficientAuthenticationHandlingFilter" before="FILTER_SECURITY_INTERCEPTOR"/>

        <!--
            If you're not planning to use client SSL auth to protect your subsystem
            calls, change 'access' property to isAnonymous().
            You will also have to modify ssoService bean properties (see its
            comments in applicationContext-service.xml).
        -->
        <sec:intercept-url pattern="/remoting/sso.service" access="hasAuthority('ROLE_SUBSYSTEM')"/>
        <sec:intercept-url pattern="/remoting/sso.xremoting.service" access="hasAuthority('ROLE_SUBSYSTEM')"/>
        <sec:intercept-url pattern="/remoting/sso.hessian.service" access="hasAuthority('ROLE_SUBSYSTEM')"/>
        <sec:intercept-url pattern="/remoting/oauth2.hessian.service" access="isAnonymous()"/>
        <sec:intercept-url pattern="/remoting/basic.hessian.service" access="isAnonymous()"/>

        <sec:intercept-url pattern="/**" access="hasAnyAuthority('ROLE_ADMIN','ROLE_ACTION_TEMP_PASSWORD')"/>

        <sec:logout logout-url="/j_spring_security_logout"  success-handler-ref="logoutSuccessHandler"  />
        <sec:anonymous/>

        <!-- CSRF protection is disabled because for forms we use Wicket
             which has a protection of its own -->
        <sec:csrf disabled="true"/>

    </sec:http>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="passwordAuthenticationProvider"/>
        <sec:authentication-provider ref="otpAuthenticationProvider"/>
        <sec:authentication-provider ref="x509PreAuthenticatedAuthenticationProvider"/>
    </sec:authentication-manager>

    <bean id="logoutSuccessHandler" class="com.payneteasy.superfly.web.security.logout.SuperflyLogoutSuccessHandler">
        <constructor-arg value="/"/>
        <property name="loggerSink" ref="loggerSink" />
    </bean>

    <bean id="authenticationEntryPoint" class="com.payneteasy.superfly.security.MultiStepLoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/login"/>
        <property name="insufficientAuthenticationMapping">
            <map>
                <entry key="org.springframework.security.authentication.UsernamePasswordAuthenticationToken" value="/login-step2"/>
                <entry key="com.payneteasy.superfly.web.security.LocalNeedOTPToken" value="/login-setup"/>
            </map>
        </property>
    </bean>

    <bean id="abstractAuthenticationProcessingFilter" abstract="true">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureHandler">
            <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
                <constructor-arg value="/login"/>
            </bean>
        </property>
    </bean>

    <bean id="passwordAuthenticationProcessingFilter" class="com.payneteasy.superfly.security.SuperflyUsernamePasswordAuthenticationProcessingFilter"
            parent="abstractAuthenticationProcessingFilter">
        <property name="csrfValidator" ref="csrfValidator"/>
    </bean>

    <bean id="otpAuthenticationProcessingFilter" class="com.payneteasy.superfly.web.security.SuperflyLocalOTPAuthenticationProcessingFilter"
            parent="abstractAuthenticationProcessingFilter">
        <property name="csrfValidator" ref="csrfValidator"/>
    </bean>
    <bean id="initOtpAuthenticationProcessingFilter" class="com.payneteasy.superfly.web.security.SuperflyInitOTPAuthenticationProcessingFilter"
            parent="abstractAuthenticationProcessingFilter">
        <property name="localSecurityService" ref="localSecurityService"/>
        <property name="csrfValidator" ref="csrfValidator"/>
    </bean>

    <bean id="insufficientAuthenticationHandlingFilter" class="com.payneteasy.superfly.security.InsufficientAuthenticationHandlingFilter">
        <property name="insufficientAuthenticationClasses">
            <list>
                <value>com.payneteasy.superfly.security.authentication.CompoundAuthentication</value>
            </list>
        </property>
    </bean>

    <bean id="x509AuthenticationFilter" class="org.springframework.security.web.authentication.preauth.x509.X509AuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="continueFilterChainOnUnsuccessfulAuthentication" value="false"/>
        <property name="authenticationFailureHandler">
            <bean class="com.payneteasy.superfly.security.x509.X509EFailureHandler"/>
        </property>
    </bean>

    <bean id="checkRequiredInitOtpPostProcessor" class="com.payneteasy.superfly.web.security.CheckRequiredInitOtpAuthenticationPostProcessor">
        <property name="localSecurityService" ref="localSecurityService"/>
        <property name="forceMultiFactorAuthMethod" ref="forceMfaMethod"/>
        <property name="enableMultiFactorAuth" ref="mfaEnabled"/>
    </bean>

    <bean id="x509PreAuthenticatedAuthenticationProvider" class="com.payneteasy.superfly.security.x509.X509PreAuthenticatedAuthenticationProvider">
        <constructor-arg ref="subsystemUserDetailsService"/>
    </bean>

    <bean id="passwordAuthenticationProvider" class="com.payneteasy.superfly.security.CompoundAuthenticationProvider">
        <property name="delegateProvider">
            <bean class="com.payneteasy.superfly.web.security.SuperflyLocalAuthenticationProvider">
                <property name="localSecurityService" ref="localSecurityService"/>
            </bean>
        </property>
        <property name="supportedSimpleAuthenticationClasses">
            <list>
                <value>org.springframework.security.authentication.UsernamePasswordAuthenticationToken</value>
            </list>
        </property>
        <property name="notSupportedSimpleAuthenticationClasses">
            <list>
                <value>com.payneteasy.superfly.web.security.LocalCheckOTPToken</value>
            </list>
        </property>
        <property name="authenticationPostProcessor" ref="checkRequiredInitOtpPostProcessor">
        </property>
    </bean>

    <bean id="otpAuthenticationProvider" class="com.payneteasy.superfly.security.CompoundAuthenticationProvider">
        <property name="delegateProvider">
            <bean class="com.payneteasy.superfly.web.security.SuperflyLocalOTPAuthenticationProvider">
                <property name="localSecurityService" ref="localSecurityService"/>
            </bean>
        </property>
        <property name="authenticationValidator">
            <bean class="com.payneteasy.superfly.security.validator.CompoundAuthenticationValidator">
                <property name="requiredClasses">
                    <list>
                        <value>org.springframework.security.authentication.UsernamePasswordAuthenticationToken</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="authenticationPostProcessor">
            <bean class="com.payneteasy.superfly.security.processor.CompoundLatestAuthUnwrappingPostProcessor">
            </bean>
        </property>
    </bean>

    <bean id="subsystemUserDetailsService" class="com.payneteasy.superfly.web.security.SubsystemUserDetailsService">
        <property name="subsystemService" ref="subsystemService"/>
        <property name="loggerSink" ref="loggerSink" />
    </bean>

    <bean id="customHttpFirewall" class="org.springframework.security.web.firewall.StrictHttpFirewall">
        <property name="allowSemicolon" value="true"/>
    </bean>
    <sec:http-firewall ref="customHttpFirewall"/>


    <!--
        <bean id="preauthUserDetailsService" class="org.springframework.security.userdetails.memory.InMemoryDaoImpl">
            <property name="userMap">
                <bean class="org.springframework.security.userdetails.memory.UserMap">
                    <property name="users">
                        <map>
                            <entry key="superfly-client">
                                <bean class="org.springframework.security.userdetails.User">
                                    <constructor-arg value="superfly-client"/>
                                    <constructor-arg value="not-used"/>
                                    <constructor-arg value="true"/>
                                    <constructor-arg>
                                        <list>
                                            <bean class="org.springframework.security.GrantedAuthorityImpl">
                                                <constructor-arg value="ROLE_SUBSYSTEM"/>
                                            </bean>
                                        </list>
                                    </constructor-arg>
                                </bean>
                            </entry>
                        </map>
                    </property>
                </bean>
            </property>
        </bean>
     -->

    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <constructor-arg name="decisionVoters">
            <list>
                <bean class="org.springframework.security.access.vote.RoleVoter" />
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
                <bean class="org.springframework.security.web.access.expression.WebExpressionVoter" />
            </list>
        </constructor-arg>
    </bean>

</beans>
