<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		
    <sec:http auto-config="false">
        <sec:intercept-url pattern="/favicon.ico" filters="none"/>
        <sec:intercept-url pattern="/css*"   filters="none"/>
        <sec:intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

		<!--
			If you're not planning to use client SSL auth to protect your subsystem
			calls, change 'access' property to IS_AUTHENTICATED_ANONYMOUSLY.
			You will also have to modify ssoService bean properties (see its
			comments in applicationContext-service.xml).
		-->
		<sec:intercept-url pattern="/remoting/sso.service" access="ROLE_SUBSYSTEM"/>
        
        <sec:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        
        <sec:logout />
        <sec:form-login default-target-url="/"/>
        <sec:anonymous/>
        <sec:x509 user-service-ref="subsystemUserDetailsService"/>

    </sec:http>
    
	<bean id="superflyLocalAuthenticationProvider" class="com.payneteasy.superfly.web.security.SuperflyLocalAuthenticationProvider">
		<sec:custom-authentication-provider/>
		<property name="localSecurityService" ref="localSecurityService"/>
	</bean>
	
	<bean id="subsystemUserDetailsService" class="com.payneteasy.superfly.web.security.SubsystemUserDetailsService">
		<property name="subsystemService" ref="subsystemService"/>
	</bean>
   
<!-- 
	<bean id="preauthUserDetailsService" class="org.springframework.security.userdetails.memory.InMemoryDaoImpl">
		<property name="userMap">
			<bean class="org.springframework.security.userdetails.memory.UserMap">
				<property name="users">
					<map>
						<entry key="superfly-client">
							<bean class="org.springframework.security.userdetails.User">
								<constructor-arg value="superfly-client"/>
								<constructor-arg value="not-used"/>
								<constructor-arg value="true"/>
								<constructor-arg>
									<list>
										<bean class="org.springframework.security.GrantedAuthorityImpl">
											<constructor-arg value="ROLE_SUBSYSTEM"/>
										</bean>
									</list>
								</constructor-arg>
							</bean>
						</entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
 -->

</beans>
