<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<tx:annotation-driven />

	<bean id="internalSsoService"
		class="com.payneteasy.superfly.service.impl.InternalSSOServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="actionDao" ref="actionDao" />
	</bean>
	
	<bean id="localSecurityService"
		class="com.payneteasy.superfly.service.impl.LocalSecurityServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>

	<bean id="subsystemService"
		class="com.payneteasy.superfly.service.impl.SubsystemServiceImpl">
		<property name="subsystemDao" ref="subsystemDao" />
	</bean>
	
	<bean id="groupService"
		class="com.payneteasy.superfly.service.impl.GroupServiceImpl">
		<property name="groupDao" ref="groupDao" />
	</bean>
	
	<bean id="userService"
		class="com.payneteasy.superfly.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	
	<bean id="roleService"
		class="com.payneteasy.superfly.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>
	
	<bean id="actionService"
		class="com.payneteasy.superfly.service.impl.ActionServiceImpl">
		<property name="actionDao" ref="actionDao" />
	</bean>
	
</beans>
