<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<tx:annotation-driven />
	
	<bean id="loggerSink" class="com.payneteasy.superfly.service.impl.LoggerSinkImpl">
		<property name="userInfoService" ref="userInfoService"/>
	</bean>

	<bean id="internalSsoService"
		class="com.payneteasy.superfly.service.impl.InternalSSOServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="actionDao" ref="actionDao" />
		<property name="notificationService" ref="notificationService"/>
		<property name="loggerSink" ref="loggerSink"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
		<property name="saltSource" ref="saltSource"/>
        <property name="policyValidation" ref="passwordPolicyValidation"/>
        <property name="lockoutStrategy" ref="lockoutStrategy"/>
	</bean>
	
	<bean id="localSecurityService"
		class="com.payneteasy.superfly.service.impl.LocalSecurityServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="loggerSink" ref="loggerSink"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
		<property name="saltSource" ref="saltSource"/>
	</bean>

	<bean id="subsystemService"
		class="com.payneteasy.superfly.service.impl.SubsystemServiceImpl">
		<property name="subsystemDao" ref="subsystemDao" />
		<property name="notificationService" ref="notificationService"/>
		<property name="loggerSink" ref="loggerSink"/>
	</bean>
	
	<bean id="groupService"
		class="com.payneteasy.superfly.service.impl.GroupServiceImpl">
		<property name="groupDao" ref="groupDao" />
		<property name="notificationService" ref="notificationService"/>
		<property name="loggerSink" ref="loggerSink"/>
	</bean>
	
	<bean id="userService"
		class="com.payneteasy.superfly.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="notificationService" ref="notificationService" />
		<property name="loggerSink" ref="loggerSink"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
		<property name="saltSource" ref="saltSource"/>
	</bean>
	
	<bean id="roleService"
		class="com.payneteasy.superfly.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />
		<property name="notificationService" ref="notificationService"/>
		<property name="loggerSink" ref="loggerSink"/>
	</bean>
	
	<bean id="actionService"
		class="com.payneteasy.superfly.service.impl.ActionServiceImpl">
		<property name="actionDao" ref="actionDao" />
	</bean>
	
	<bean id="releaseNotesService"
		class="com.payneteasy.superfly.service.impl.releasenotes.ReleaseNotesServiceImpl"/>
		
	<bean id="sessionService"
		class="com.payneteasy.superfly.service.impl.SessionServiceImpl">
		<property name="sessionDao" ref="sessionDao" />
		<property name="notifier" ref="notifier"/>
	</bean>
	
	<bean id="notifier" class="com.payneteasy.superfly.notification.DefaultNotifier">
		<property name="scheduler" ref="persistentScheduler"/>
		<property name="sendStrategyBeanName" value="sendStrategy"/>
	</bean>
	
	<bean id="sendStrategy" class="com.payneteasy.superfly.notification.strategy.SimpleSendStrategy">
		<property name="httpClient" ref="notifierHttpClient"/>
	</bean>
	
	<bean id="notifierHttpClient" class="com.payneteasy.superfly.factorybean.HttpClientFactoryBean">
	</bean>
	
	<bean id="notificationService" class="com.payneteasy.superfly.service.impl.NotificationServiceImpl">
		<property name="notifier" ref="notifier"/>
		<property name="subsystemDao" ref="subsystemDao"/>
	</bean>
	
	<bean id="passwordEncoder" class="com.payneteasy.superfly.spring.PasswordEncoderFactoryBean">
		<property name="policyName" ref="policyName"/>
	</bean>

	<bean id="saltSource" class="com.payneteasy.superfly.spring.SaltSourceFactoryBean">
		<property name="policyName" ref="policyName"/>
		<property name="data" ref="salt"/>
	</bean>

    <bean id="passwordPolicyValidation" class="com.payneteasy.superfly.spring.PasswordPolicyValidationFactoryBean">
        <property name="policyName" ref="policyName"/>
    </bean>
    
    <bean id="lockoutStrategy" class="com.payneteasy.superfly.spring.LockoutStrategyFactoryBean">
        <property name="policyName" ref="policyName"/>
        <property name="maxLoginsFailed" ref="maxLoginsFailed"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>
