<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="ssoService"
		class="com.payneteasy.superfly.service.impl.remote.SSOServiceImpl">
		<property name="internalSSOService" ref="internalSsoService" />
		<property name="hotpService" ref="hotpService" />
		<property name="resetPasswordStrategy" ref="resetPasswordStrategy" />
		<!-- Comment the following property out if you don't plan using
			SSL client auth for subsystem calls. In this case you will also
			have to modify applicationContext-security.xml (see its comments on
			SSL). -->
		<property name="subsystemIdentifierObtainer">
			<bean class="com.payneteasy.superfly.web.obtainer.AuthenticationPrincipalSubsystemIdentifierObtainer"/>
		</property>
	</bean>

    <bean name="ssoServiceExporter" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="ssoService"/>
        <property name="serviceInterface" value="com.payneteasy.superfly.api.SSOService"/>
    </bean>
    
    <bean name="ssoServiceXRemotingExporter" class="com.googlecode.xremoting.spring.XRemotingServiceExporter">
        <property name="service" ref="ssoService"/>
        <property name="serviceInterface" value="com.payneteasy.superfly.api.SSOService"/>
    </bean>

    <bean name="ssoServiceHessianExporter" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="ssoService"/>
        <property name="serviceInterface" value="com.payneteasy.superfly.api.SSOService"/>
    </bean>

</beans>
