<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		
    <sec:http auto-config="false">
        <sec:intercept-url pattern="/favicon.ico" filters="none"/>
        <sec:intercept-url pattern="/css*"   filters="none"/>
        <sec:intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

		<sec:intercept-url pattern="/remoting/sso.service" access="IS_AUTHENTICATED_ANONYMOUSLY"/>        
        
        <sec:intercept-url pattern="/**" access="ROLE_ADMIN,ROLE_USER"/>
        
        <sec:logout />
        <sec:form-login default-target-url="/"/>
        <sec:anonymous/>
        <sec:x509 user-service-ref="preauthUserDetailsService"/>

    </sec:http>
    
    <sec:authentication-provider>
        <sec:user-service>
            <sec:user name="admin"    password="admin"  authorities="ROLE_ADMIN"/>
            <sec:user name="user"   password="user"    authorities="ROLE_USER"/>            
        </sec:user-service>
    </sec:authentication-provider>
    
<!--
    <bean id="userDetailsService" class="com.payneteasy.alerting.web.security.UserDetailsServiceImpl">
    	<property name="userService" ref="userService"/>
    </bean>
-->
	<bean id="preauthUserDetailsService" class="org.springframework.security.userdetails.memory.InMemoryDaoImpl">
		<property name="userMap">
			<bean class="org.springframework.security.userdetails.memory.UserMap">
				<property name="users">
					<map>
						<entry key="superfly-client">
							<bean class="org.springframework.security.userdetails.User">
								<constructor-arg value="superfly-client"/>
								<constructor-arg value="not-used"/>
								<constructor-arg value="true"/>
								<constructor-arg>
									<list>
										<bean class="org.springframework.security.GrantedAuthorityImpl">
											<constructor-arg value="ROLE_SUBSYSTEM"/>
										</bean>
									</list>
								</constructor-arg>
							</bean>
						</entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>

</beans>
